@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #232323 !important;
}
.bg-warning {
  background-color: #cccccc !important;
}
.bg-danger {
  background-color: #4ca400 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff574a !important;
  border-color: #ff574a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #fd1200 !important;
  border-color: #fd1200 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fd1200 !important;
  border-color: #fd1200 !important;
}
.btn-info,
.btn-info:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #4d4d4d !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4d4d4d !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4ca400 !important;
  border-color: #4ca400 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #295800 !important;
  border-color: #295800 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #295800 !important;
  border-color: #295800 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #e31000;
  color: #e31000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff574a;
  border-color: #ff574a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff574a !important;
  border-color: #ff574a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #4d4d4d;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4d4d4d !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #1d3e00;
  color: #1d3e00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #4ca400;
  border-color: #4ca400;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4ca400 !important;
  border-color: #4ca400 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #ff574a !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #232323 !important;
}
.text-warning {
  color: #cccccc !important;
}
.text-danger {
  color: #4ca400 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e31000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #999999 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #1d3e00 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #232323;
}
.alert-warning {
  background-color: #cccccc;
}
.alert-danger {
  background-color: #4ca400;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #8aff24;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #232323;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #232323;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff574a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rTBWDqj3Ep .navbar-dropdown {
  position: relative!important;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
}
.cid-rTBWDqj3Ep .collapsed {
  flex-direction: row!important;
}
.cid-rTBWDqj3Ep .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rTBWDqj3Ep .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rTBWDqj3Ep .navbar {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  transition: all .3s;
  background: #232323;
}
.cid-rTBWDqj3Ep .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-rTBWDqj3Ep .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rTBWDqj3Ep .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rTBWDqj3Ep .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rTBWDqj3Ep .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rTBWDqj3Ep .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rTBWDqj3Ep .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rTBWDqj3Ep .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rTBWDqj3Ep .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rTBWDqj3Ep .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rTBWDqj3Ep .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rTBWDqj3Ep .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rTBWDqj3Ep .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rTBWDqj3Ep .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rTBWDqj3Ep .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rTBWDqj3Ep .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rTBWDqj3Ep .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rTBWDqj3Ep .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rTBWDqj3Ep .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rTBWDqj3Ep .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rTBWDqj3Ep .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rTBWDqj3Ep .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rTBWDqj3Ep .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rTBWDqj3Ep .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rTBWDqj3Ep .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-rTBWDqj3Ep .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rTBWDqj3Ep .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rTBWDqj3Ep .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 52%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff574a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rTBWDqj3Ep .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-rTBWDqj3Ep .nav-item:focus,
.cid-rTBWDqj3Ep .nav-link:focus {
  outline: none;
}
.cid-rTBWDqj3Ep .text-white:hover,
.cid-rTBWDqj3Ep .text-white:active,
.cid-rTBWDqj3Ep .text-white:focus {
  color: white!important;
}
.cid-rTBWDqj3Ep .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-rTBWDqj3Ep .dropdown-item:hover {
  color: black!important;
}
.cid-rTBWDqj3Ep .dropdown-menu {
  background-color: white!important;
}
.cid-rTBWDqj3Ep .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(255, 134, 125, 0.35);
  display: block;
}
.cid-rTBWDqj3Ep .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff574a;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rTBWDqj3Ep .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (max-width: 992px) {
  .cid-rTBWDqj3Ep .navbar {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .cid-rTBWDqj3Ep .nav-item {
    position: relative;
  }
}
.cid-rTBWDqj3Ep .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rTBWDqj3Ep .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rTBWDqj3Ep .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rTBWDqj3Ep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rTBWDqj3Ep .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rTBWDqj3Ep .navbar-caption {
  font-weight: 600!important;
}
.cid-rTBWDqj3Ep .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rTBWDqj3Ep .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rTBWDqj3Ep .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rTBWDqj3Ep .dropdown-item.active,
.cid-rTBWDqj3Ep .dropdown-item:active {
  background-color: transparent;
}
.cid-rTBWDqj3Ep .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rTBWDqj3Ep .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rTBWDqj3Ep .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rTBWDqj3Ep .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-rTBWDqj3Ep .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rTBWDqj3Ep ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rTBWDqj3Ep .navbar-buttons {
  text-align: center;
}
.cid-rTBWDqj3Ep button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rTBWDqj3Ep button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ff574a;
}
.cid-rTBWDqj3Ep button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rTBWDqj3Ep button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rTBWDqj3Ep button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rTBWDqj3Ep button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rTBWDqj3Ep nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rTBWDqj3Ep nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rTBWDqj3Ep nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rTBWDqj3Ep nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rTBWDqj3Ep .nav-link {
  font-weight: 600!important;
}
.cid-rTBWDqj3Ep a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rTBWDqj3Ep .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rTBWDqj3Ep .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rTBWDqj3Ep .icons-menu span {
  font-size: 26px;
  color: #232323;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rTBWDqj3Ep .navbar {
    height: 77px;
  }
  .cid-rTBWDqj3Ep .navbar.opened {
    height: auto;
  }
  .cid-rTBWDqj3Ep .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rTBXdRTAtj {
  padding-top: 40px;
  background-image: url("../../../assets/images/bongacams-header-girl-1300x865.jpg");
}
.cid-rTBXdRTAtj .container {
  margin-bottom: 15%;
}
.cid-rTBXdRTAtj .content-container .btn-bgr {
  z-index: 0;
}
.cid-rTBXdRTAtj .container-boxes {
  padding-bottom: 0px;
  position: relative;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #ff574a;
}
.cid-rTBXdRTAtj .icon-block-top span {
  background-color: #ff574a;
  padding: 1.5rem;
  position: absolute;
  border-radius: 50%;
  margin-top: -2.5rem;
  top: 0;
  font-size: 2rem;
  width: 78px;
  height: 78px;
}
.cid-rTBXdRTAtj .box-item {
  position: relative;
  box-shadow: #000000 0px 0px 15px;
  border-radius: 3px;
  margin-right: 1.5rem;
  width: 25%;
  padding: 2.5rem;
}
.cid-rTBXdRTAtj .box-item:first-child {
  background-color: #232323;
  margin-top: -150px;
}
.cid-rTBXdRTAtj .box-item:nth-child(2) {
  background-color: #232323;
}
.cid-rTBXdRTAtj .box-item:last-child {
  background-color: #232323;
  margin-right: 0;
}
.cid-rTBXdRTAtj .box-item-text,
.cid-rTBXdRTAtj .mbr-section-btn {
  color: #cccccc;
  text-align: center;
}
.cid-rTBXdRTAtj .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-rTBXdRTAtj .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-rTBXdRTAtj .box-list li:last-child {
  border-bottom: none;
}
.cid-rTBXdRTAtj .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-rTBXdRTAtj .media-content {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
@media (min-width: 992px) {
  .cid-rTBXdRTAtj .box-item {
    margin-top: -150px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .cid-rTBXdRTAtj .p-descr {
    margin-bottom: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rTBXdRTAtj .box-item {
    margin-bottom: 4rem;
    margin-right: 0;
    margin-top: 0;
    width: 90%;
  }
  .cid-rTBXdRTAtj .box-item:last-child {
    margin-bottom: 0;
  }
  .cid-rTBXdRTAtj .content-container {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
  }
  .cid-rTBXdRTAtj .box-item:first-child {
    margin-top: -100px;
  }
}
.cid-rTBXdRTAtj .mbr-text {
  color: #efefef;
  text-align: center;
}
.cid-rTBXdRTAtj H1 {
  color: #ffffff;
}
.cid-rTBXdRTAtj .box-item-title {
  color: #ff574a;
  text-align: center;
}
.cid-rTFzKnUbnZ {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rTFzKnUbnZ .title {
  border-bottom: 1px solid #232323;
}
.cid-rTFzKnUbnZ .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #232323;
  color: #444444;
  padding: 0;
  border: 1px solid #232323;
  transition: all 0.3s;
}
.cid-rTFzKnUbnZ .card-wrapper:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-top: -0.6rem;
}
.cid-rTFzKnUbnZ .card-wrapper:hover .price-box {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  left: 5px;
  bottom: 15px;
}
.cid-rTFzKnUbnZ .display-4 {
  line-height: 1.1;
}
.cid-rTFzKnUbnZ .mbr-iconfont {
  font-size: 1rem;
  padding-bottom: 3px;
}
.cid-rTFzKnUbnZ .ico-line-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTFzKnUbnZ .ico-line {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTFzKnUbnZ p {
  line-height: 1.6;
}
.cid-rTFzKnUbnZ .btn-danger-outline {
  border: none;
  background: transparent;
  font-weight: 400!important;
}
.cid-rTFzKnUbnZ .card-title {
  color: #ff574a;
  margin: 0;
  line-height: 1.3;
  text-align: center;
}
.cid-rTFzKnUbnZ .card-img {
  overflow: hidden;
  max-height: 280px;
  position: relative;
  border-radius: 0;
}
.cid-rTFzKnUbnZ .price-box {
  position: absolute;
  background: #f7ed4a;
  padding: 0.5rem 1rem;
  left: 0;
  bottom: 1rem;
  transition: all 0.3s;
}
.cid-rTFzKnUbnZ img {
  transition: all 0.3s;
}
.cid-rTFzKnUbnZ h5 {
  margin: 0;
}
.cid-rTFzKnUbnZ .card-box {
  padding: 1.5rem;
}
.cid-rTFzKnUbnZ .mbr-section-title {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
.cid-rTFzKnUbnZ .card-box > p,
.cid-rTFzKnUbnZ .mbr-section-btn {
  color: #cccccc;
  text-align: center;
}
.cid-rTFzKnUbnZ .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rTFzKnUbnZ .price {
  color: #232323;
  text-align: left;
}
.cid-rTFzKnUbnZ .rev {
  color: #4ca400;
}
@media (max-width: 576px) {
  .cid-rTFzKnUbnZ .ico-line-wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rTFzKnUbnZ .ico-line {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-rTHCyAZ6g6 {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rTHCyAZ6g6 .title {
  border-bottom: 1px solid #232323;
}
.cid-rTHCyAZ6g6 .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #232323;
  color: #444444;
  padding: 0;
  border: 1px solid #232323;
  transition: all 0.3s;
}
.cid-rTHCyAZ6g6 .card-wrapper:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-top: -0.6rem;
}
.cid-rTHCyAZ6g6 .card-wrapper:hover .price-box {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  left: 5px;
  bottom: 15px;
}
.cid-rTHCyAZ6g6 .display-4 {
  line-height: 1.1;
}
.cid-rTHCyAZ6g6 .mbr-iconfont {
  font-size: 1rem;
  padding-bottom: 3px;
}
.cid-rTHCyAZ6g6 .ico-line-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTHCyAZ6g6 .ico-line {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTHCyAZ6g6 p {
  line-height: 1.6;
}
.cid-rTHCyAZ6g6 .btn-danger-outline {
  border: none;
  background: transparent;
  font-weight: 400!important;
}
.cid-rTHCyAZ6g6 .card-title {
  color: #ff574a;
  margin: 0;
  line-height: 1.3;
  text-align: center;
}
.cid-rTHCyAZ6g6 .card-img {
  overflow: hidden;
  max-height: 280px;
  position: relative;
  border-radius: 0;
}
.cid-rTHCyAZ6g6 .price-box {
  position: absolute;
  background: #f7ed4a;
  padding: 0.5rem 1rem;
  left: 0;
  bottom: 1rem;
  transition: all 0.3s;
}
.cid-rTHCyAZ6g6 img {
  transition: all 0.3s;
}
.cid-rTHCyAZ6g6 h5 {
  margin: 0;
}
.cid-rTHCyAZ6g6 .card-box {
  padding: 1.5rem;
}
.cid-rTHCyAZ6g6 .mbr-section-title {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
.cid-rTHCyAZ6g6 .card-box > p,
.cid-rTHCyAZ6g6 .mbr-section-btn {
  color: #cccccc;
  text-align: center;
}
.cid-rTHCyAZ6g6 .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rTHCyAZ6g6 .price {
  color: #232323;
  text-align: left;
}
.cid-rTHCyAZ6g6 .rev {
  color: #4ca400;
}
@media (max-width: 576px) {
  .cid-rTHCyAZ6g6 .ico-line-wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rTHCyAZ6g6 .ico-line {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-rTHDqmggti {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rTHDqmggti .title {
  border-bottom: 1px solid #232323;
}
.cid-rTHDqmggti .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #232323;
  color: #444444;
  padding: 0;
  border: 1px solid #232323;
  transition: all 0.3s;
}
.cid-rTHDqmggti .card-wrapper:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-top: -0.6rem;
}
.cid-rTHDqmggti .card-wrapper:hover .price-box {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  left: 5px;
  bottom: 15px;
}
.cid-rTHDqmggti .display-4 {
  line-height: 1.1;
}
.cid-rTHDqmggti .mbr-iconfont {
  font-size: 1rem;
  padding-bottom: 3px;
}
.cid-rTHDqmggti .ico-line-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTHDqmggti .ico-line {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rTHDqmggti p {
  line-height: 1.6;
}
.cid-rTHDqmggti .btn-danger-outline {
  border: none;
  background: transparent;
  font-weight: 400!important;
}
.cid-rTHDqmggti .card-title {
  color: #ff574a;
  margin: 0;
  line-height: 1.3;
  text-align: center;
}
.cid-rTHDqmggti .card-img {
  overflow: hidden;
  max-height: 280px;
  position: relative;
  border-radius: 0;
}
.cid-rTHDqmggti .price-box {
  position: absolute;
  background: #f7ed4a;
  padding: 0.5rem 1rem;
  left: 0;
  bottom: 1rem;
  transition: all 0.3s;
}
.cid-rTHDqmggti img {
  transition: all 0.3s;
}
.cid-rTHDqmggti h5 {
  margin: 0;
}
.cid-rTHDqmggti .card-box {
  padding: 1.5rem;
}
.cid-rTHDqmggti .mbr-section-title {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
.cid-rTHDqmggti .card-box > p,
.cid-rTHDqmggti .mbr-section-btn {
  color: #cccccc;
  text-align: center;
}
.cid-rTHDqmggti .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rTHDqmggti .price {
  color: #232323;
  text-align: left;
}
.cid-rTHDqmggti .rev {
  color: #4ca400;
}
@media (max-width: 576px) {
  .cid-rTHDqmggti .ico-line-wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rTHDqmggti .ico-line {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-rTFKVtJy6v {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/dating-and-hookup-services-result-7.webp");
}
.cid-rTFzG3cOZY {
  padding-top: 45px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rTFzG3cOZY li {
  list-style: none;
}
.cid-rTFzG3cOZY .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.cid-rTFzG3cOZY .mbr-iconfont {
  font-size: 16px!important;
  padding-right: 12px;
}
.cid-rTFzG3cOZY h4 {
  margin: 0;
}
.cid-rTFzG3cOZY .item {
  color: #57468b;
}
.cid-rTFzG3cOZY ul {
  padding: 0;
  margin: 0;
}
.cid-rTFzG3cOZY .col-title {
  color: #ffffff;
}
.cid-rTFzG3cOZY .col-title1 {
  color: #bfceff;
}
.cid-rTFzG3cOZY .col-title2 {
  color: #5580ff;
}
.cid-rTFzG3cOZY .col-title3 {
  color: #ff574a;
  text-align: left;
}
.cid-rTFzG3cOZY .col-title4 {
  color: #57468b;
}
.cid-rTFzG3cOZY .item1 {
  color: #716c80;
}
.cid-rTFzG3cOZY .item2 {
  color: #716c80;
}
.cid-rTFzG3cOZY .item3 {
  color: #efefef;
  text-align: left;
}
.cid-rTFzG3cOZY .item4 {
  color: #716c80;
}
@media (max-width: 768px) {
  .cid-rTFzG3cOZY .md-pb {
    padding-bottom: 1rem;
  }
}
.cid-rTFzG3cOZY .item3 DIV {
  text-align: left;
}
.cid-rTGwmIWKHD {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rTGwmIWKHD li {
  list-style: none;
}
.cid-rTGwmIWKHD .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.cid-rTGwmIWKHD .mbr-iconfont {
  font-size: 16px!important;
  padding-right: 12px;
}
.cid-rTGwmIWKHD h4 {
  margin: 0;
}
.cid-rTGwmIWKHD .item {
  color: #57468b;
}
.cid-rTGwmIWKHD ul {
  padding: 0;
  margin: 0;
}
.cid-rTGwmIWKHD .col-title {
  color: #ffffff;
}
.cid-rTGwmIWKHD .col-title1 {
  color: #bfceff;
}
.cid-rTGwmIWKHD .col-title2 {
  color: #5580ff;
}
.cid-rTGwmIWKHD .col-title3 {
  color: #ff574a;
  text-align: left;
}
.cid-rTGwmIWKHD .col-title4 {
  color: #57468b;
}
.cid-rTGwmIWKHD .item1 {
  color: #716c80;
}
.cid-rTGwmIWKHD .item2 {
  color: #716c80;
}
.cid-rTGwmIWKHD .item3 {
  color: #efefef;
  text-align: left;
}
.cid-rTGwmIWKHD .item4 {
  color: #716c80;
}
@media (max-width: 768px) {
  .cid-rTGwmIWKHD .md-pb {
    padding-bottom: 1rem;
  }
}
.cid-rTFXtYjpIy {
  padding-top: 75px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/bg-review-site8-1600x480.jpg");
}
.cid-rTFXtYjpIy H2 {
  color: #ff574a;
}
.cid-rTGcCefqTY {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rTGcCefqTY .mbr-text {
  color: #efefef;
}
.cid-rTGwrYrTyE {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-rTGwrYrTyE .container-fluid {
  padding: 0 3rem;
}
.cid-rTGwrYrTyE .media-container-column {
  padding: 0 2rem;
}
.cid-rTGwrYrTyE .mbr-section-title {
  display: inline-block;
  position: relative;
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rTGwrYrTyE .container-fluid {
    padding: 0 1rem;
  }
}
.cid-rTGwrYrTyE .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-rTGcAXaU07 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rTGcAXaU07 .mbr-text,
.cid-rTGcAXaU07 blockquote {
  color: #767676;
}
.cid-rTGcAXaU07 .mbr-text {
  color: #efefef;
}
.cid-rTHvLxAnz5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #282124;
}
.cid-rTHvLxAnz5 .container {
  max-width: 1500px;
}
.cid-rTHvLxAnz5 .row {
  background: #333333;
}
.cid-rTHvLxAnz5 .img-col {
  padding: 0;
}
.cid-rTHvLxAnz5 .title-col {
  padding: 4rem 8rem;
}
.cid-rTHvLxAnz5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rTHvLxAnz5 h2 {
  padding: 0;
  margin: 0;
}
.cid-rTHvLxAnz5 .text-wrap {
  margin: auto;
}
.cid-rTHvLxAnz5 .mbr-text {
  color: #efefef;
  text-align: center;
}
@media (max-width: 1200px) {
  .cid-rTHvLxAnz5 .row {
    margin: 2rem;
  }
  .cid-rTHvLxAnz5 .title-col {
    padding: 6rem 4rem;
  }
}
@media (max-width: 767px) {
  .cid-rTHvLxAnz5 .row {
    margin: 0rem;
  }
  .cid-rTHvLxAnz5 .title-col {
    padding: 2rem 1rem;
  }
}
.cid-rTHvHppoBL {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-rTHvHppoBL .counter-container {
  color: #464646;
}
.cid-rTHvHppoBL .counter-container div {
  margin-bottom: 1rem;
  padding-left: 5rem;
}
.cid-rTHvHppoBL .counter-container li {
  list-style: none;
  padding-left: 6rem;
  position: relative;
}
.cid-rTHvHppoBL .counter-container .counter {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: 0 0 5px;
  line-height: 40px;
  transition: all .2s;
  width: 60px;
  height: 40px;
}
.cid-rTHvHppoBL P {
  text-align: left;
  color: #efefef;
}
.cid-rTHvHppoBL H3 {
  color: #ff574a;
}
.cid-rTHvHppoBL H4 {
  color: #ff574a;
}
.cid-rTFWvpSnkd {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-rTFWvpSnkd .container-fluid {
  padding: 0 3rem;
}
.cid-rTFWvpSnkd .mbr-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cid-rTFWvpSnkd .mbr-list li {
  margin-bottom: 1rem;
}
.cid-rTFWvpSnkd .mbr-section-title {
  margin-bottom: 2rem;
}
.cid-rTFWvpSnkd .social-media {
  margin-top: 1.5rem;
}
.cid-rTFWvpSnkd .social-media ul {
  padding: 0;
  margin-bottom: 8px;
}
.cid-rTFWvpSnkd .social-media ul li {
  margin-right: 1rem;
  display: inline-block;
}
.cid-rTFWvpSnkd .mbr-text,
.cid-rTFWvpSnkd .mbr-offer {
  line-height: 1.5;
}
.cid-rTFWvpSnkd .form-control {
  color: #fff;
  z-index: 0;
  min-height: 3rem !important;
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 767px) {
  .cid-rTFWvpSnkd .container-fluid {
    padding: 0 1rem;
  }
  .cid-rTFWvpSnkd .mbr-section-title {
    margin-bottom: 1rem;
  }
  .cid-rTFWvpSnkd .mbr-list {
    margin-bottom: 2rem;
  }
  .cid-rTFWvpSnkd .mbr-list li {
    margin-bottom: .5rem;
  }
}
